[primary_gpu]
model = NVIDIA RTX 3050
vram = 6GB
driver_version = 572.16

[secondary_gpu]
model = Intel UHD Graphics
vram_shared = 1GB

[acceleration]
nvidia_smi_version = 572.16
cuda_version = 12.8
bus_id = 00000000:01:00.0
display_enabled = true
temperature_celsius = 60
performance_level = P0
power_usage_watts = 61
vram_usage_mib = 6144
compute_mode = Default
mig_mode = N/A