<?xml version="1.0" encoding="UTF-8"?>
<gpuSettings>
  <primaryGpu>
    <model>NVIDIA RTX 3050</model>
    <vram>6GB</vram>
    <driverVersion>572.16</driverVersion>
  </primaryGpu>
  <secondaryGpu>
    <model>Intel UHD Graphics</model>
    <vramShared>1GB</vramShared>
  </secondaryGpu>
  <acceleration>
    <nvidiaSmiVersion>572.16</nvidiaSmiVersion>
    <cudaVersion>12.8</cudaVersion>
    <busId>00000000:01:00.0</busId>
    <displayEnabled>true</displayEnabled>
    <temperatureCelsius>60</temperatureCelsius>
    <performanceLevel>P0</performanceLevel>
    <powerUsageWatts>61</powerUsageWatts>
    <vramUsageMib>6144</vramUsageMib>
    <computeMode>Default</computeMode>
    <migMode>N/A</migMode>
  </acceleration>
</gpuSettings>